[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
python-dotenv = "*"
numpy = ">=1.26,<2"
opencv-contrib-python = "==4.10.0.84"
mediapipe = "==0.10.14"
pylint = "*"
black = "*"

[dev-packages]
pytest-flask = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"
